.list-item{
    height: 48px;
    width: 100%;
    border-radius: 16px;
    padding: 4px 11px;
    background-color: rgba(203, 212, 225, 0.4);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;

    &__button {
        width: 18px;
        height: 18px;
    }

    &__title {
        flex-grow: 1;
        p {
            font-size: 14px;
            font-weight: 400;
        }
    }

    &__control {

        
        
    }
}