.list-item{
    height: 48px;
    width: 100%;
    border-radius: 16px;
    padding: 4px 11px;
    background-color: rgba(203, 212, 225, 0.4);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;

    &__button {
        padding: 2px 4px;
        border-radius: 6px;
    }

    &__button:hover {
        background-color: rgba(69, 68, 68, 0.4);
        transition: 0.3s;
    }

    &__title {
        flex-grow: 1;
        p {
            font-size: 14px;
            font-weight: 400;
        }
    }
}

@media only screen and (min-width: 460px) {
	.list-item {
		width: 312px;
	}
}