.bot-panel {
	height: 100%;
	display: flex;
	flex-direction: column;
	padding: 24px 24px 0px 24px;
	overflow: hidden;
	gap: 12px;

	h1 {
		font-weight: 600;
		margin: 0;
		line-height: 1;
	}

	&__block-panel {
		display: flex;
		flex-direction: column;
		grid-gap: 12px;
		overflow: hidden;

		.block-panel-bot {
			display: flex;
			overflow-x: auto;
			gap: 12px;
		}

		.block-panel-bot > * {
			flex-shrink: 0;
		}

		.block-panel-header {
			// margin-bottom: 12px;
		}

		.block-panel-info {
			border-radius: 16px;
			display: flex;
			overflow-x: auto;
			gap: 12px;
			padding: 12px;
			background-color: rgba(44, 44, 44, 0.2);
			border: 1px solid rgba(154, 168, 188, 0.2);
			backdrop-filter: blur(32px);
		}
	}

	&__recent-panel {
		height: 300px;
		padding: 12px 24px 12px 24px;
		// background-color: rgba(44, 44, 44, 0.2);
		background-color: #1d1c1c;
		border: 1px solid rgba(154, 168, 188, 0.2);
		backdrop-filter: blur(32px);
		border-radius: 16px 16px 16px 16px;
		display: grid;
		grid-template-rows: 32px 1fr;
		grid-gap: 12px;
		overflow: hidden;

		.recent-panel-content {
			overflow-y: auto;
			display: flex;
			flex-direction: column;
			gap: 6px;
		}

		@media only screen and (min-width: 460px) {
			.recent-panel-content {
				overflow-y: auto;
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				align-content: flex-start;
			}
		}
	}
}

