.elevator{
    width: 144px;
    height: 144px;
    background-color: #2C2C2C;
    border: 1px solid rgba(154, 168, 188, 0.2);
    border-radius: 24px;
    padding: 12px 16px;
    display: flex;
    flex-direction: column;
    cursor: pointer;

    &__header {

    }

    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        padding-bottom: 12px;

        p {
            font-size: 64px;
            font-weight: 300;
        }

    }

    p {
        margin: 0;
    }
}