.logo {
    padding: 4px;
    background-color: #1D1C1C;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    img {
        width: 28px;
        height: 28px;
    }
}