.main-page{
    height: 100%;
    display: grid;
    grid-template-rows: 224px 1fr;
    gap: 24px;
    overflow: hidden;
    gap: 24px;

    h1{
        font-weight: 600;
        margin: 0;
        line-height: 1;
    }

    &__block-panel{
        padding: 24px 0px 0px 24px;
        display: grid;
        grid-template-rows: 32px 144px;
        grid-gap: 24px;
        overflow: hidden;

        .block-panel-header{
            
        }

        .block-panel-info{
            display: flex;
            overflow-x: auto;
            gap: 12px;
            padding-right: 24px;
        }

        .block-panel-info > * {
            min-width: 144px; /* Устанавливаем минимальную ширину */
        }
    }

    &__recent-panel{
        padding: 24px 24px 12px 24px;
        background-color: #363636;
        border-radius: 16px 16px 0px 0px;
        display: grid;
        grid-template-rows: 32px 1fr;
        grid-gap: 24px;
        overflow: hidden;

        .recent-panel-content{
            overflow-y: auto;
            display: flex;
            flex-direction: column;
            gap: 12px;
        }

        @media only screen and (min-width: 460px){
            .recent-panel-content{
                overflow-y: auto;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-content: flex-start;
            }

            .recent-panel-content>* {
                
            }
        }
    }
}