.custom-banner {
	padding: 12px;
	height: 72px;
	border-radius: 16px;
	display: grid;
	grid-template-columns: 24px 1fr;
	grid-gap: 12px;
	background-color: rgba(44, 44, 44, 0.5);
	border: 1px solid rgba(154, 168, 188, 0.2);
	backdrop-filter: blur(32px);

	&__content {
		display: grid;
		grid-template-rows: 16px 1fr;
		gap: 6px;

		p {
			margin: 0;
			font-size: 16px;
			line-height: 1;
			color: #fff;
		}

		.content-description {
			p {
				font-size: 12px;
				font-weight: 200;
			}
		}
	}
}

@media only screen and (min-width: 460px) {
	.custom-banner {
		width: 312px;
	}
}

.banner-success {
	// background-color: #1d1c1c;
	.content-title {
		p {
			color: #17bf33;
		}
	}
}

.banner-info {
	// background-color: #1d1c1c;
	.content-title {
		p {
			color: #5598f6;
		}
	}
}

.banner-warning {
	// background-color: #1d1c1c;
	.content-title {
		p {
			color: #f2930d;
		}
	}
}

.banner-error {
	// background-color: #1d1c1c;
	.content-title {
		p {
			color: #f14a58;
		}
	}
}
