.bot-card {
	// background-color: #1d1c1c;
	// padding: 6px 6px 12px 6px;
	// border-radius: 8px;
	display: grid;
	grid-template-rows: 6px 1fr;
	cursor: pointer;
	// width: 100%;

	&__status {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;

		.status-indicator {
			height: 6px;
			width: 6px;
			border-radius: 6px;
			background-color: #e1fcde;
		}
	}

	&__content {
		padding: 0px 6px;
		display: flex;
		flex-direction: column;
		gap: 12px;

		.content-title {
			p {
				font-size: 12px;
			}
		}

		.content-events {
			display: flex;
			gap: 6px;
			flex-direction: row;
			align-items: start;
			justify-content: space-between;

			&__numbers {
				p {
					font-size: 32px;
					line-height: 1;
					font-weight: 400;
					color: #E1FCDE;
				}

				p:nth-child(even) {
					font-size: 12px;
					font-weight: 400;
					margin-left: 2px;
				}
			}

			&__indicator {
				height: 36px;
				width: 36px;
				background-color: #E1FCDE;
				border-radius: 24px;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}

		.content-users {
			p {
				font-size: 12px;
				color: #E1FCDE;
			}
		}
	}
}

.bot-card-warning {
    // box-shadow: 5px 5px 10px -5px rgba(255, 212, 216, 1);
	.status-indicator {
		background-color: #e1fcde;
	}

	.content-events {
		&__numbers {
			p {
				color: #fff2d2;
			}
		}
		&__indicator {
			background-color: #fff2d2;
		}
	}
	.content-users {
		p {
			color: #fff2d2;
		}
	}
}

.bot-card-error {
	.status-indicator {
		background-color: #f14a58;
	}

	.content-events {
		&__numbers {
			p {
				color: #ffd4d8;
			}
		}
		&__indicator {
			background-color: #ffd4d8;
		}
	}
	.content-users {
		p {
			color: #ffd4d8;
		}
	}
}

