.custom-search {
	height: 48px;
    border-radius: 16px;
    font-size: 16px;
    background-color: #D9D9D9;
    color: #1A212B;
}

.custom-search::placeholder{
    color: #1A212B;
    font-weight: 400;
}

.custom-search:hover{
    background-color: #D9D9D9;
}

.custom-search:focus{
    background-color: #D9D9D9;
}




